In [1]:
import pandas as pd


import yfinance as yf
from datetime import timedelta

In [2]:
date_start = '2018-04-02' # Pick a Monday
date_end = pd.to_datetime('today').normalize()

In [3]:
invested_dollars = 10000

In [4]:
tkr = 'AMD'

In [5]:
data = yf.download(tkr,pd.to_datetime(date_start),date_end)
data = data.reset_index()

[*********************100%%**********************]  1 of 1 completed

In [6]:
data.sample(5)

,Date,Open,High,Low,Close,Adj Close,Volume
940,2021-12-22,142.649994,144.500000,140.270004,143.880005,143.880005,46923700
571,2020-07-08,53.009998,53.470001,52.070000,53.430000,53.430000,35608300
1174,2022-11-28,73.809998,75.470001,72.570000,73.190002,73.190002,45383800
261,2019-04-15,27.799999,27.840000,26.959999,27.330000,27.330000,40812500
1393,2023-10-12,108.400002,111.309998,107.510002,108.790001,108.790001,60959400

In [7]:
data.Date = pd.to_datetime(data.Date)

In [8]:
date_start

'2018-04-02'

In [9]:
tdf = pd.DataFrame(pd.date_range(date_start,date_end,freq='W-MON')).rename(columns = {0:'WEEK'})
tdf['WEEKDAY'] = tdf.WEEK.apply(lambda x: x.weekday())
tdf['DPD'] = invested_dollars/tdf.WEEKDAY.shape[0]

In [10]:
tdf2 = pd.merge(tdf,data[['Date','Open']],left_on = 'WEEK',right_on = 'Date',how = 'left')

In [11]:
c = (tdf2.Open.isna()).astype(int)

In [12]:
tdf2['ADD'] = c

In [13]:
tdf2['WEEK'] = tdf2.apply(lambda x: x.WEEK + timedelta(days = x.ADD),axis = 1)

In [14]:
tdf2['L_Open'] = tdf2.Open

In [15]:
del tdf2['Date']
del tdf2['Open']

In [16]:
tdf3 = pd.merge(tdf2,data[['Date','Open']],left_on = 'WEEK',right_on = 'Date',how = 'left')

In [17]:
c2 = (tdf3.L_Open.isna())

In [18]:
tdf

          WEEK  WEEKDAY        DPD
0   2018-04-02        0  33.557047
1   2018-04-09        0  33.557047
2   2018-04-16        0  33.557047
3   2018-04-23        0  33.557047
4   2018-04-30        0  33.557047
..         ...      ...        ...
293 2023-11-13        0  33.557047
294 2023-11-20        0  33.557047
295 2023-11-27        0  33.557047
296 2023-12-04        0  33.557047
297 2023-12-11        0  33.557047

[298 rows x 3 columns]

In [19]:
tdf3.loc[c2,'L_Open'] = tdf3['Open']

In [20]:
tdf3

          WEEK  WEEKDAY        DPD  ADD      L_Open       Date        Open
0   2018-04-02        0  33.557047    0    9.990000 2018-04-02    9.990000
1   2018-04-09        0  33.557047    0    9.750000 2018-04-09    9.750000
2   2018-04-16        0  33.557047    0   10.000000 2018-04-16   10.000000
3   2018-04-23        0  33.557047    0   10.090000 2018-04-23   10.090000
4   2018-04-30        0  33.557047    0   11.060000 2018-04-30   11.060000
..         ...      ...        ...  ...         ...        ...         ...
293 2023-11-13        0  33.557047    0  118.339996 2023-11-13  118.339996
294 2023-11-20        0  33.557047    0  120.699997 2023-11-20  120.699997
295 2023-11-27        0  33.557047    0  122.070000 2023-11-27  122.070000
296 2023-12-04        0  33.557047    0  119.750000 2023-12-04  119.750000
297 2023-12-11        0  33.557047    0  130.559998 2023-12-11  130.559998

[298 rows x 7 columns]

In [21]:
tdf3.L_Open.isna().mean()

0.0

In [22]:
tdf2.L_Open.isna().mean()

0.09395973154362416

In [23]:
tdf3['SHARES'] = tdf3['DPD']/tdf3['L_Open']

In [25]:
tdf3.SHARES.sum()*130.55

29266.48601148125

In [27]:
10000/10*130

130000.0

In [ ]:
29266 vs 130000